@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.card {
  position: relative;
  background-image: url('../images/cardBg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem 1rem 20px;

  &.active,
  &:hover {
    background-image: url('../images/cardActiveBg.svg');
  }

  .status {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    top: 0;
    right: 1rem;
  }

  .symbol {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.5rem;
  }

  .body {
    display: flex;
    justify-content: space-between;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: right;

    span {
      font-weight: 500;
    }
  }

  .price {
    font-size: 22px;
  }
  .endDate {
    font-size: 12px;
    margin-top: 1rem;
  }
}

.cardExpand {
  border-radius: 4px;
  border: 1px solid $primary-color;
  padding: 2rem;
}
