@mixin oneLineTextBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}

.title {
  @apply text-primary text-sm font-normal absolute left-4 top-2;
}

.substrateClient {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 15px 10px 15px;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;

  .row {
    .name {
      color: white;
      text-align: left;
    }

    .input {
      min-width: 180px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 4px;
      outline: none;
      border: none;
      font-weight: 500;
      text-align: center;
    }
    .input::placeholder {
      color: #2a324d;
    }
    .input::-webkit-input-placeholder {
      color: #2a324d;
    }
    .input:focus::placeholder {
      color: transparent;
    }
    .input:focus::-webkit-input-placeholder {
      color: transparent;
    }
    .missingInput {
      outline: 1px solid red;
    }
  }
}

.contractClient {
  @include oneLineTextBox();
  position: relative;
  min-height: 120px;
  padding: 0px 50px;
}

.emplyClient {
  @include oneLineTextBox();
  min-height: 120px;
}
