@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.pageLayout {
  &:global {
    &.ant-layout {
      position: relative;
      min-height: 100vh;
      max-width: 1400px;
      padding: 0 24px;
      margin: 0 auto;
      background: $theme-color;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      // for 15inch screen monitor
      @media screen and (max-width: 1500px) {
        max-width: 1300px;
      }
    }
  }
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 80px;
}
