@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.button {
  @apply cursor-pointer py-3 px-6 text-primary bg-transparent rounded flex items-center justify-center text-center uppercase font-medium;
  border: 1px solid $primary-color;

  @include buttonStates(black);

  &.disabled {
    @apply text-gray-400 pointer-events-none border-none cursor-not-allowed;
    background: rgba(255, 255, 255, 0.3);
  }

  &.loading {
    @apply flex items-center pointer-events-none cursor-not-allowed;
  }
}
