$theme-color: #221334;
$primary-color: #00d7d7;
$secondary-color: #2a4b65;
$primary-color-dark1: #0b98a3;
$gray-color-100: #8c8c8c;
$red-color-100: #ff007a;
$gradient-color: linear-gradient(278.16deg, #ff2a6d 0.94%, #a07eff 51.22%, #3dffff 98.25%);

// font-size
$font-size-lg: 40px;
$font-size-semi-lg: 32px;
$font-size-md: 28px;
$font-size-semi-md: 18px;
$font-size-sm: 12px;
$font-size-xs: 10px;

// gap
$gap-size-large: 36px;
$gap-size-medium: 24px;
$gap-size-small: 12px;

// breakpoints
$minWidthTablet: 600px;
$minWidthDesktop: 1025px;
$minWidthLargeDesktop: 1441px;
