@import 'styles/variables';

.container {
  background: linear-gradient(
    277.94deg,
    rgba(255, 42, 109, 0.3) 0.92%,
    rgba(160, 126, 255, 0.3) 28.05%,
    rgba(61, 255, 255, 0.3) 89.13%
  );
  border-radius: 10px;
  padding: 0.8rem;
  padding-top: 0.6rem;
}
