.select {
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */

  background-image: url("data:image/svg+xml;utf8,<svg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6.5 7L0.870835 0.25L12.1292 0.250001L6.5 7Z' fill='white' opacity='0.6'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 12px);
  background-position-y: 50%;

  &:disabled:required:invalid,
  &:required:invalid {
    @apply italic font-light text-gray-500;
  }
}
