@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.expand {
  @include cardBorder;
  min-height: 240px;
  padding: 27px 2.5rem;
  overflow: hidden;
  background: linear-gradient(
    278.16deg,
    rgba(255, 42, 109, 0.1) 0.94%,
    rgba(160, 126, 255, 0.1) 51.22%,
    rgba(61, 255, 255, 0.1) 98.25%
  );

  .status {
    border-bottom-right-radius: 8px;
    min-width: 88px;
  }

  .execution {
    margin: auto 0;
    max-width: 25%;

    .token {
      display: flex;
      align-items: flex-end;
      align-items: center;
    }

    .tokenLogo {
      margin-right: 2rem;
    }

    .tokenName {
      @apply flex flex-col text-left;
      min-width: 112px;

      .value {
        display: block;
        font-weight: 600;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
      }
    }
    .execButton {
      color: #221334;
      &:hover {
        opacity: 0.7;
        background-color: $primary-color;
      }
    }
  }

  .client {
    min-width: 294px;

    .clientBody {
      background: #2a324d;
      border-radius: 6px;
      height: 96px;
      max-width: 294px;
    }
  }

  .others {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 200px;

    .otherInfo {
      margin-top: 1rem;
      text-align: left;
      color: #fff;

      .value {
        background: #194a61;
        border: 1px solid $primary-color;
        border-radius: 4px;
        padding: 0.25rem 1rem;
        display: block;
        color: $primary-color;
        margin-left: 1rem;
        min-width: 140px;
        text-align: center;
      }
    }
  }
}
