@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.wrapper {
  @apply flex items-center right-0 absolute text-black font-semibold;
  @include fadeInRight();
  top: 2.5rem;
  background: linear-gradient(0deg, #00d7d7, #00d7d7), #221334;
  box-shadow: 4px 4px 38px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
  line-height: initial;
  z-index: 2;

  &.fail {
    background-image: none;
    background-color: rgb(255, 0, 122);
    color: #fff;
  }

  .viewIcon {
    margin-left: 8px;
  }

  .loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    :global {
      .anticon {
        color: white;
      }
    }
  }

  .done {
    width: 100%;
    height: 100%;
    background-image: url('./images/done.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    animation: pop-out 0.5s ease-in;

    @keyframes pop-out {
      0% {
        transform: scale(0.3);
      }
      50% {
        transform: scale(0.7);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
